header .small{width: 100%; height: 80px; position: absolute; left: 0; top: 0; 
    z-index: 3; display: flex; align-items: center; justify-content: space-between;}
#logo{width: 250px; min-width: 250px; height: 60px; margin-left: 20px;}
#logo img{width: 100%; height: 60px;}
nav > ul{display: flex; justify-content: space-around; position: absolute;
margin-left: -420px; }
nav > ul > li{font-size: 2rem; width: 130px; text-align: center;}
nav > ul > li > div{display: flex; flex-direction: column; padding-top: 20px;
    display: none; position: relative;}
#login{width: 300px; height: 60px; background-color:aquamarine;}
nav > ul > li > div > ul > li{line-height: 40px; font-size: 1.5rem;}
nav > ul > li > div > ul > li > a{color: #818181;}
nav > ul > li > div > ul > li > a:hover{color: #C850C0; font-weight: bold;}
.navdown{width: 100%; height: 0; position: fixed; top: 0; left: 0; background-color:#fff;
transition: 0.5s;}
.overlay{height: 100%; width: 0; position: fixed; z-index: 103; top: 0; right: 0px;
background-color: rgba(0,0,0,0.8); overflow-x: hidden; transition: 0.5s;}
.overlay-content{position: relative; top: 25%; width: 100%; text-align: center; display: block;
margin-top: 30px;}
.overlay a{padding: 10px; line-height: 160%; text-decoration: none; font-size: 30px; color: #818181; transition: 0.3s;
font-weight: bold; display: block;}
.overlay a:hover, .overlay a:focus{color:#f1f1f1;}
.overlay .closebtn{position: absolute; top:20px; right:45px;
font-size: 60px;} 
.small > i {font-size: 2.5rem; color: white; cursor: pointer;
text-align:right; margin-right: 20px;}

footer{width: 1600px; height: 400px; background-color: #C850C0; margin: 0 auto;
display: flex; justify-content: space-around; align-items: center;}
footer > div:nth-of-type(1){width: 38%; height: 80%; background-color: aquamarine;}
footer > div:nth-of-type(1) > i{font-size: 3rem; margin: 20px;}
footer > div:nth-of-type(1) > h2{font-size: 3rem; margin: 20px;}
footer > div:nth-of-type(2){width: 50%; height: 80%; background-color: aquamarine;}