#wrap{width: 100%; height: auto; margin: 0 auto; background-color: #111;}
#slider{width: 100%; height: auto;}
video{width: 100%; height: auto;}

/* 인트로 */
.intro{width: 1600px; height: 600px; display: flex; flex-flow: row wrap; align-items: center;
justify-content: space-around; margin: 0 auto; background-color: #ffa2f3;}
.intro > h1{width:100%; height: 80px; text-align: center; font-size: 3.5rem; line-height: 8rem;}
.intro div{width:40%; height: 400px;}
.intro img{width:100%; height: 100%;}
.introtext{width:40%; font-size: 2.3rem;}


/* 멤버 */
.memberbox{width: 1600px; height: 600px; background-color: #696969; display: flex;
justify-content: space-around; align-items: center; margin: 0 auto; position: relative;
clear: both; padding: 1rem 0 4rem;}
.memberbox > div{width: 350px; height: 500px; text-align: center; border-radius: 5px;
overflow: hidden; background: #3085a3; position: relative;}
.memberbox > div > img{position: relative; display: block; min-height: 100%; max-width: 100%;
opacity: 0.8;}
.memberbox div figcaption{padding:2rem; color: #fff;  backface-visibility: hidden;}
.memberbox div figcaption::before,.memberbox div figcaption::after{pointer-events: none;}
.memberbox div figcaption{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.memberbox div h2{word-spacing: -0.15rem; font-weight: 800; font-size: 4rem;}
.memberbox div h2, .memberbox div span{ margin: 0;}
.memberbox div span{letter-spacing: 0.1rem;}
div.member{background: linear-gradient(-45deg,#f3cf3f 0%,#f33f58 100%);}
div.member img{opacity: 0.9;}
div.member figcaption::after, div.member img, div.member span{transition:opacity 0.35s, transform 0.35s;}
div.member figcaption::after{position: absolute; top: 0; left: 0; width: 100%; height: 100%;
border-top: 1px solid #fff; border-bottom: 1px solid #fff; content: ''; opacity: 0;
transform: rotate3d(0,0,1,45deg) scale3d(1,0,1); transform-origin: 50% 50%;}
div.member h2, div.member span{opacity: 1; transform: scale3d(0.8,0.8,1);}
div.member h2{padding-top: 60%; transition: transform 0.35s;}
div.member span{display: inline-block; width:248px; height: auto; padding-top:50px; text-transform: none; font-size: 3rem; opacity: 0;}
div.member:hover img{opacity: 0.7; transform: scale3d(1.05,1.05,1); transform: scale3d(1.05,1.05,1);}
div.member:hover figcaption::after{opacity: 1; transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);}
div.member:hover h2,div.member:hover span{opacity: 1; transform: scale3d(1,1,1);}


/* 최신노래 */
.songbox{width: 1600px; height: 600px; background-color: aquamarine; margin: 0 auto;}
.selectbox{width: 550px; height: 600px; background-color: bisque; display: inline-block; vertical-align: top;}
.selectbox p{width: 100%; font-size: 3rem; text-align: center; margin-top: 40px;}
.selectbox > div{width: 600px; height: 120px; background-color: tomato; margin-top: 40px;
border-radius: 15px; z-index: 5; position: relative; font-size: 3rem; 
line-height: 12rem; font-weight: bold;}
.selectbox > div:hover{cursor: pointer;}
.selectbox > div > i {font-size: 4rem; position:absolute; top: 40px; left: 500px;}
.imgsong{width:1047px; height: 600px; background-color: blue; display: inline-block;}
.imgsong video{width: 100%; height: 600px; object-fit:fill;}
.song2,.song3{display: none;}

/* 타임라인 */
.historybox{width: 1600px; height: 500px; background-color:brown; margin: 0 auto;
text-align: center; display: flex; flex-flow: row wrap; justify-content: space-around;}
.historybox > p{font-size: 3rem; width: 100%; line-height:10rem;}
.historybox > a{font-size: 2.5rem;}
.history{width: 1600px; height: 300px; background-color: darkslateblue;
display: flex; justify-content: space-around;}
.history a{display: inline-block; width: 370px; font-size: 2rem;}

/*--히스토리 밑줄--*/
.btn{padding: 0px 230px; color: #fff; font-family: sans-serif;
    text-align: center; position: relative; text-decoration: none; display:inline-block;}
.btn::before {content: ''; position: absolute; bottom: 0%; left: 0px; width: 100%;
    height: 1px; background: #6098FF; display: block; transform-origin: right top;
    transform: scale(0, 1); transition: transform 0.4s cubic-bezier(1, 0, 0, 1)}
.btn:hover::before { transform-origin: left top; transform: scale(1, 1)}

/* 앨범 */
.albumbox{width: 1600px; height: 500px; background-color: darkblue; margin: 0 auto;
position: relative; overflow: hidden;}
.albumbox > p{padding: 15px;font-size: 3rem; width: 100%; padding: 40px 0px; text-align: center;}
.slide{width:3600px; margin-left: 0px;}
.slide li{width: 300px; height:300px; float: left; margin: 0 50px;}
.slide li img{width: 100%; height: 100%;}
.albumbox > .ibox{text-align: center; font-size: 5rem;}
.ibox > i {margin: 0 20px; cursor: pointer;}