.small{background-color: #111; transition: 0.3s;}
.small:hover{background-color: #fff;}
.small:hover i{color: #111 !important;}
.small:hover nav > ul > li > a{color: #111 !important;}
header{height: 80px;}

#newsarea{width: 100%; height: auto; background-color: #f8f9fa}
#container{width: 1600px; margin: 0 auto; background-color: #f8f9fa;
display: flex; flex-wrap:wrap;}
#container h1{width: 100%; text-align: center; font-size: 4rem; line-height: 220px;
font-family: 'Times New Roman', Times, serif}
#news{width: 66.666%;}
#news article{width: 100%; height: auto; padding-left: 73.5px; padding-bottom: 50px;}
.newsimg{width: 100%; height: 60%; position: relative;}
.newsimg img{width: 100%; height: 100%;}
.imgdate{font-size: 3rem; color:#fff; background-color: #C850C0;
text-align: center; position: absolute; bottom: -20px; left:30px; width: 100px;
height: 100px; line-height: 3.5rem; padding-top: 15px; border-radius: 10px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.newsdetail{padding:60px 30px 35px 35px; background-color: #ffff;
width: 100%; height: 40%;}
.newsdetail ul:nth-of-type(1){padding-bottom:50px;}
.newsdetail ul li{float: left;}
.newsdetail ul li a{color: #999999; font-size: 1.6rem; transition: 0.3s;}
.newsdetail ul li a i{font-size: 1.4rem; color: #999999; margin:0 5px; transition: 0.3s;}
.newsdetail ul li:hover a{color: #C850C0;}
.newsdetail ul li:hover i{color: #C850C0;}
.newsdetail h2{font-size: 2rem;}
.newsdetail p{font-size:1.6rem; margin-bottom:30px;}

.navbar{width: 100%; height: 100px; padding:15px 0px 50px 73.5px;}
.navbar ul{display: flex; width: 100%; justify-content: center;}
.navbar > ul > li{width: 45px; height: 45px; font-size: 1.6rem; text-align: center;
line-height: 45px; border: 1px solid #ffc2fb; color: #8a8a8a; margin-right: 10px;}
.navbar > ul > li:hover{cursor: pointer; color: #C850C0;}

#sides{width:33.333%;}
.sidebar{width: 400px; padding: 30px; margin: 0 auto; margin-bottom: 30px; background-color: #ffecfe;}
.search{height: 170px;}
.search > form{display: flex; flex-wrap: wrap; justify-content: center;}
.search > form > input{width: 85%; height: 50px; font-size: 1.6rem; border:1px solid #fae9ff; border-radius: 0;
margin-bottom: 10px; padding-left: 20px;}
.search > form > input:focus{outline: none;}
.search > form > i{ width: 15%; height:50px; font-size: 2rem; background-color: #C850C0; text-align: center;
line-height: 50px;}
.search > form > i:hover{cursor: pointer;}
.search > form > button{width: 100%; background-color: #fff; border: 1px solid #C850C0;
height: 50px; letter-spacing: 5px; color: #C850C0; font-family: 'Times New Roman', Times, serif;
font-size: 1.6rem; transition: 0.3s;}
.search > form > button:hover{cursor: pointer; background-color:#C850C0; color: #fff;}

.sidetit{font-size: 2.5rem; font-family: 'Times New Roman', Times, serif; margin-bottom: 40px;}
.sidetit::after{content: ""; display: block; padding-top: 15px; border-bottom: 1px solid #ffc2fb;}
.category > ul > li > a{color: #111;}
.category > ul > li > a:hover{color:#C850C0; font-weight: bold;}
.category > ul > li:nth-of-type(1){padding-bottom: 12px; font-size: 1.6rem; border-bottom: 1px solid #ffc2fb;}
.category > ul > li:not(.category > ul > li:nth-of-type(1)){font-size: 1.6rem; padding:15px 0 12px 0;
border-bottom: 1px solid #ffc2fb;}
.category > ul > li:last-of-type{border-bottom: none !important;}

.recent > div{display: flex; align-items: center;}
.recent > div > div{padding-left: 20px;}
.recent > div > div > h3{font-size: 1.6rem; font-family: 'Times New Roman', Times, serif; margin-bottom: 10px;}
.recent > div > div > h3:hover{color: #C850C0; cursor: pointer;}
.recent > div > div > p{font-size: 1.5rem;}
.recent > div:not(.recent > div:first-of-type){margin-top: 20px;}
.recent > div > img {width: 80px; height: 80px;}

.cloud ul li{display: inline-block;}
.cloud ul li a{display: inline-block; border: 1px solid #eeeeee; background: #fff;
padding: 4px 20px; margin-bottom: 8px; margin-right: 3px; transition: 0.3s; color: #888888;
font-size: 1.3rem;}
.cloud ul li:hover a{background-color: #C850C0; color: #fff;}

.insta > ul{display: flex; flex-wrap: wrap;}
.insta > ul > li{width: 33%; height: auto; float: left; padding:0 6px; margin-bottom: 15px;}
.insta > ul > li > a > img{width: 100%; height: 100%;} 

.letter{height: 250px;}
.letter > form{display: flex; flex-wrap: wrap; justify-content: center;}
.letter > form > input{width: 100%; height: 50px; font-size: 1.6rem; border:1px solid #fae9ff; border-radius: 0;
margin-bottom: 10px; padding-left: 20px;}
.letter > form > input:focus{outline: none;}
.letter > form > button{width: 100%; background-color: #fff; border: 1px solid #C850C0;
height: 50px; letter-spacing: 5px; color: #C850C0; font-family: 'Times New Roman', Times, serif;
font-size: 1.6rem; transition: 0.3s;}
.letter > form > button:hover{cursor: pointer; background-color:#C850C0; color: #fff;}

@media all and (max-width:1099px){
#container{width: 100%; justify-content: center;}
#news{width: 80%; height: auto;}
#news article{padding-left: 0; padding-bottom:50px; margin: 0;}
.imgdate{width: 10vw; height: 10vw; font-size: 2.5vw; padding-top: 1vw; line-height: 4vw;}
.navbar{padding: 0;}
#sides{width: 80%;}
.sidebar{width: 100%;}
}

@media all and (min-width:1100px) and (max-width:1599px){
#container{width: 100%;}
#news{height: auto;}
#news article{padding: 0px 50px 50px 50px;}
#sides{ padding-right:30px;}
.sidebar{width: 100%;}
}